.about-s {
  &__wrap {
    padding-top: 150px;
    padding-bottom: 15px;
    .about-s__title {
      @include flex(row, space-between, flex-end, nowrap);
      ul {
        @include flex(row, space-between, start, nowrap);
        max-width: 250px;
        width: 100%;
      }
    }
  }
  .about-s__main{
    @include flex(row, start, center, nowrap);
    img{
      height: 300px;
      width: 250px;
      filter: grayscale(.5);
      }
    .about-s__main-title{
      @include flex(column, flex-start, center, nowrap);
      padding: 0 20px;
      max-width: 710px;
      width: 100%;
    }
  }
}