  .connect-s__wrap {
  padding-bottom: 100px;
  .title-connect {
    @include flex(row, space-between, start, wrap);
    .form {
      width: 430px;
      padding-right: 50px;
      @include flex(column, space-between, start, wrap);
      @include res('tab'){
        width: 270px;
        padding: 0;
      }
      @include res('mob'){
        width: 270px;
        padding: 0;
      }
      label{
        margin-bottom: 10px;
        width: 100%;
        @include flex(row, space-between, start, wrap);
        input, textarea{
          background-color: $header-background-color;
          border: 0;
          width: 300px;
          height: 30px;
          padding-left: 15px;
          color: $main-text-color;
        }
        textarea{
          height: 100px;
        }
      }
      input[type='submit']{
        background-color: $header-background-color;
        border: 0;
        color: $main-text-color;
        align-self: flex-end;
        height: 30px;
      }
    }
    .title-message {
      width: 430px;
      @include res('tab'){
        width: 320px;
      }
      @include res('mob'){
        width: 320px;
      }
      @include flex(column, space-between, start, wrap);
      p{
        margin-bottom: 20px;
      }
      ul{
        @include flex(row, space-between, start, wrap);
        width: 110px;
      }
    }
  }
}