.header-s {
  margin-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &__wrap {
    background-color: $header-background-color;
    @include flex(row, space-between, center, wrap);
    h1 {
      width: 300px;
      height: 70px;
      line-height: 70px;
      display: flex;
    }
    .logo {
      font-family: 'GreatVibes', cursive;
      font-size: 60px;
      font-weight: normal;
      position: relative;
      display: inline-block;
      &:after {
        content: '';
        position: absolute;
        height: 50px;
        width: 1px;
        background-color: $main-text-color;
        top: 10px;
        right: -20px;
      }
    }
    span {
      margin-left: 35px;
    }
  }
  ul{
    @include flex(row, space-between, center, nowrap);
    max-width: 300px;
    width: 100%;
    li{
      font-family: "BreeSerif", sans-serif;
      font-size: 16px;
    }
  }
}